@media (min-width: 1200px) {
    .post-cont-iner,
    .sidebar-container {
        padding-right: 5%;
    }
}

.anchorjs-link {
  padding-right: 10px;
}

hr{
    margin:0;
}

.list-inline{
  margin-left: 0;
}

.sidebar-container {
    color: #888;
    font-size: 14px;
    margin-top: 35px;
}

.sidebar-container h5 {
    color: #4e9bab;
}

.sidebar-container h5 a {
    color: #555 !important;
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
}

.sidebar-container a {
    color: #888 !important;
}
.social-links a {
  color: #888 !important;
}
.sidebar-container a:hover,
.sidebar-container a:active {
    color: #0085a1 !important;
}

/*
.sidebar-container .tags a {
    border-color: #bfbfbf;
}

.sidebar-container .tags a:hover,
.sidebar-container .tags a:active {
    border-color: #0085a1;
}
*/
.sidebar-container .short-about img {
    width: 100%;
    display: block;
    border-radius: 50%;
    margin-bottom: 20px;
    box-shadow: 0 0 2px black;
}

.sidebar-container .short-about p {
    margin-top: 0;
    margin-bottom: 20px;
}

/* ---------------------------------------------------------------- */
/* ● 最新文章 */
/* ---------------------------------------------------------------- */
.post-list{
  padding: 0;
}
.post-list-item{
  list-style: none;
  text-align: center;
}

/* ---------------------------------------------------------------- */
/* ● 所有文章 */
/* ---------------------------------------------------------------- */
.archive-list{
  padding-left: 0;
  padding-right: 6px;
}
.archive-list-item{
  list-style: none;
  text-align: center;
}
.archive-list-link{
  display: block;
}
.archive-list-count{
  display: block;
  padding-left: 100px;
  margin-top: -22px;
  font-size: 12px;
}
.archive-list-count:before{
  content: '(';
}
.archive-list-count:after{
  content: ')';
}

body {
    line-height: 1.7;
    font-size: 18px;
    color: #404040;
    overflow-x: hidden;
    font-family: -apple-system,  "PingFang SC","Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;
    background-color: #fbfbfb;
}

p {
    margin:0 0 20px;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-weight: 400;
}
h2{font-size: 24px}
h3{font-size: 22px}
h4{font-size: 20px}
h5{font-size: 18px}
h6{font-size: 17px}
article .post-container h2{
    font-weight: 600;
}
a {
    color: #404040;
}

a:hover,
a:focus {
    color: #0085a1;
}

a img:hover,
a img:focus {
    cursor: zoom-in;
}


blockquote {
    color: #808080;
    font-size: 0.95em;
    border-color: #ff7e79;
}

blockquote p {
  margin: 0;
}

blockquote p:last-child {
  color: inherit;
}

small.img-hint {
    display: block;
    margin-top: -20px;
    text-align: center;
}

br + small.img-hint {
    margin-top: -40px;
}

img.shadow {
    box-shadow: rgba(0, 0, 0, 0.25) 0 2px 5px 0;
}

@media screen and (max-width: 768px) {
    select {
        -webkit-appearance: none;
        margin-top: 15px;
        color: #337ab7;
        border-color: #337ab7;
        padding: 0 0.4em;
        background: white;
    }
}

.table th,
.table td {
    border: 1px solid #eee !important;
}

hr.small {
    max-width: 100px;
    margin: 15px auto;
    border:4px white;
}

pre,
.table-responsive {
    -webkit-overflow-scrolling: touch;
}

pre code {
    display: block;
    width: auto;
    white-space: pre;
    word-wrap: normal;
}

.post-container a {
    color: #337ab7;
}

.post-content-preview, article {
  font-family: 微軟正黑體, sans-serif, Menlo, -apple-system,"PingFang SC","Helvetica Neue","Hiragino Sans GB","Microsoft YaHei","Microsoft JhengHei","Source Han Sans SC","Noto Sans CJK SC","Source Han Sans CN","Noto Sans SC","Source Han Sans TC","Noto Sans CJK TC","WenQuanYi Micro Hei",SimSun
}

article .post-container h1,
article .post-container h2,
article .post-container h3,
article .post-container h4,
article .post-container h5,
article .post-container h6 {
    margin-top:-90px;
    padding: 100px 0 0;
}

article blockquote footer{
    padding: 5px 0px 0;
	font-size: 100%;
}

article blockquote footer:before{
	content: "";
}

article blockquote cite:before{
	content: '\2014 \00A0';
	padding: 0px 0.3em;
}

.post-container h5 + p {
    margin-top: 5px;
}

.post-container h6 + p {
    margin-top: 5px;
}

.post-container ul,
.post-container ol {
    margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
    .post-container ul,
    .post-container ol {
        padding-left: 30px;
    }
}

@media screen and (max-width: 500px) {
    .post-container ul,
    .post-container ol {
        padding-left: 20px;
    }
}

.post-container ol ol,
.post-container ol ul,
.post-container ul ol,
.post-container ul ul {
    margin-bottom: 5px;
}

.post-container li p {
    margin: 0;
    margin-bottom: 5px;
}

.post-container li h1,
.post-container li h2,
.post-container li h3,
.post-container li h4,
.post-container li h5,
.post-container li h6 {
    line-height: 2;
    margin-top: 20px;
}

@media only screen and (max-width: 767px) {
    .navbar-default .navbar-collapse {
        border: none;
        background: white;
        box-shadow: rgba(0, 0, 0, 0.2) 0 1px 4px;
        border-radius: 2px;
        width: 170px;
        float: right;
        margin: 0;
    }

    #huxblog_navbar a {
        font-size: 13px;
        line-height: 28px;
    }

    #huxblog_navbar .navbar-collapse {
        height: 0;
        transform: scaleY(0);
        transform-origin: top right;
        transition: transform 500ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    #huxblog_navbar li {
        opacity: 0;
        transition: opacity 450ms cubic-bezier(0.23, 1, 0.32, 1) 205ms;
    }

    #huxblog_navbar.in {
        transform: scaleX(1);
        opacity: 1;
    }

    #huxblog_navbar.in .navbar-collapse {
        transform: scaleY(1);
        -webkit-transform: scaleY(1);
    }

    #huxblog_navbar.in li {
        opacity: 1;
    }
}

.navbar-custom {
    background: none;
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 6;
    transition: background .5s;
    line-height: 1.7;
}

.navbar-custom .navbar-brand {
    font-weight: 800;
    color: white;
    height: 56px;
    line-height: 25px;
}

.navbar-custom .navbar-brand:hover {
    color: rgba(255, 255, 255, 0.8);
}

.navbar-custom .nav li a {
    text-transform: uppercase;
    font-size: 12px;
    line-height: 20px;
    font-weight: 800;
    letter-spacing: 1px;
    text-shadow: 0 0 1px rgba(0,0,0,.1);
}

.navbar-custom .nav li a:active {
    background: rgba(0, 0, 0, 0.12);
}

@media only screen and (min-width: 768px) {
    .navbar-custom {
        background: transparent;
        border-bottom: 1px solid transparent;
    }
    .navbar-custom body {
        font-size: 20px;
    }
    .navbar-custom .navbar-brand {
        color: white;
        line-height: 17px;
    }
    .navbar-custom .navbar-brand:hover,
    .navbar-custom .navbar-brand:focus {
        color: rgba(255, 255, 255, 0.8);
    }

    .navbar-custom .nav li a {
        color: white;
        padding: 20px;
    }

    .navbar-custom .nav li a:hover,
    .navbar-custom .nav li a:focus {
        color: #FC7097;
    }

    .navbar-custom .nav li a:active {
        background: none;
    }
}

@media only screen and (min-width: 1170px) {
    .navbar-custom {
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
    }
    .navbar-custom.is-fixed .nav li a,
    .navbar-custom.is-fixed .navbar-brand {
        color: #404040;
    }

    .navbar-custom.is-fixed .nav li a:hover,
    .navbar-custom.is-fixed .nav li a:focus,
    .navbar-custom.is-fixed .navbar-brand:hover,
    .navbar-custom.is-fixed .navbar-brand:focus {
        color: #0085a1;
    }
}

.intro-header {
    background-position: center;
    background-repeat: no-repeat;
    background-color: #1f97bd;
    background-attachment: scroll;
    background-size: cover;
    height: 300px;
    display: table;
    width: 100%;
    margin-bottom: 20px;
}

.intro-header>.container{
    display: table-cell;
    vertical-align: middle;
    padding: 55px 15px 15px;
}


.intro-header .site-heading,
.intro-header .page-heading,
.intro-header .post-heading{
    color: #fff;
}

.intro-header .site-heading h1,
.intro-header .page-heading h1,
.intro-header .post-heading h1 {
    text-shadow: 0 0 40px black;
    font-weight: 400;
}

.intro-header .site-heading .subheading,
.intro-header .page-heading .subheading {
    font-size: 18px;
    line-height: 1.1;
    display: block;
    font-weight: 300;
    margin: 10px 0 0;
}

/*ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¥ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¯ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¼ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¨ÃƒÆ’Ã¢â‚¬Â¹ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚ÂªÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¥ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â¦ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â©ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¨ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¦ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â©ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã¢â‚¬Â¹Ãƒâ€¦Ã¢â‚¬Å“ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¥ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â±ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â¦ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¤ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¸ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â­*/
.intro-header .display-mid{
    display: table-cell;
    vertical-align: middle;
}

.intro-header .post-heading h1 {
    margin-top: 0;
    font-size: 24px;
    margin-bottom: 0;
    text-align: center;
}


.intro-header .post-heading .subheading {
    font-size: 30px;
    line-height: 1.4;
    margin-bottom: 0;
    text-shadow: 0 0 40px black;
}

.intro-header .post-heading .meta {
    display: inline-block;
    margin-top: 20px;
    font-weight: 300;
    font-size: 14px;
    color: #eee;
}

.intro-header .post-heading .spliter {
  margin: 0 10px;
}

@media only screen and (min-width: 768px) {
    .intro-header .post-heading .subheading{
        font-weight: 300;
    }
    .intro-header .post-heading h1 {
        margin-top: 0;
        font-size: 36px;
    }

    .intro-header .post-heading .subheading {
        font-size: 26px;
        margin:0;
    }

    .intro-header .post-heading .meta {
        font-size: 16px;
    }

    .intro-header {
        height: 370px;
    }
}

.post-preview > a {
    color: #404040;
    display: block;
    height: 100%;
}
.post-preview > a:hover,
.post-preview > a:focus {
    text-decoration: none;
    outline: none;
}
a:focus {
    outline: none;
}
.post-preview > a > h2{
  transition: color .3s;
}
.post-preview:not(:first-of-type) > a:hover > h2{
    color: #FC7097;
}

.post-preview > a > .post-title {
    font-size: 21px;
    line-height: 1.3;
    margin-top: 30px;
     margin-bottom:0;
}

.post-preview > a > .post-subtitle {
    font-size: 18px;
    line-height: 1.3;
    margin: 0;
    margin-bottom: 10px;
    color: #555;
    font-weight: 400;
}
.post-preview .post-meta {
    color: #808080;
    font-size: 12px;
    margin:0;
    padding-left: 2px;
    margin-bottom: 15px;
}

.post-preview > .post-meta > a {
    text-decoration: none;
    color: #404040;
}

.post-preview > .post-meta > a:hover,
.post-preview > .post-meta > a:focus {
    color: #0085a1;
    text-decoration: underline;
}

@media only screen and (min-width: 768px) {
    .post-preview > a > .post-title {
        font-size: 26px;
        line-height: 1.3;
    }
    .post-preview .post-meta {
        font-size: 16px;
    }
}

.post-content-preview p {
    font-size: 16px;
    color: #555;
}

.section-heading {
    font-size: 36px;
    margin-top: 60px;
    font-weight: 700;
}

.caption {
    text-align: center;
    font-size: 14px;
    padding: 10px;
    font-style: italic;
    margin: 0;
    display: block;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

footer {
    font-size: 20px;
    padding: 50px 0 65px;
}

footer .list-inline {
    margin: 0;
    padding: 0;
}

footer .copyright {
    font-size: 14px;
    text-align: center;
    margin-top: 12px;
}

footer .copyright a {
    color: #337ab7;
}

footer .copyright a:hover,
footer .copyright a:focus {
    color: #0085a1;
}

.floating-label-form-group {
    font-size: 14px;
    position: relative;
    margin-bottom: 0;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #eeeeee;
}

.floating-label-form-group input,
.floating-label-form-group textarea {
    z-index: 1;
    position: relative;
    padding-right: 0;
    padding-left: 0;
    border: none;
    border-radius: 0;
    font-size: 1.5em;
    background: none;
    box-shadow: none !important;
    resize: none;
}

.floating-label-form-group label {
    display: block;
    z-index: 0;
    position: relative;
    top: 2em;
    margin: 0;
    font-size: 0.85em;
    line-height: 1.764705882em;
    vertical-align: middle;
    opacity: 0;
    transition: top 0.3s ease, opacity 0.3s ease;
}

.floating-label-form-group:not(:first-child) {
    padding-left: 14px;
    border-left: 1px solid #eeeeee;
}

.floating-label-form-group-with-value label {
    top: 0;
    opacity: 1;
}

.floating-label-form-group-with-focus label {
    color: #0085a1;
}

form .row:first-child .floating-label-form-group {
    border-top: 1px solid #eeeeee;
}

.btn {
    /* Hux learn from
       *     TypeIsBeautiful,
       *     [This Post](http://zhuanlan.zhihu.com/ibuick/20186806) etc.
       */
    font-family: -apple-system, "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;
    line-height: 1.7;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 1px;
    border-radius: 0;
    padding: 15px 25px;
}

.btn-lg {
    font-size: 16px;
    padding: 25px 35px;
}

.btn-default:hover,
.btn-default:focus {
    background-color: #0085a1;
    border: 1px solid #0085a1;
    color: white;
}

.pager {
    margin: 20px 0 0 !important;
    padding: 0 !important;
}

.pager li > a,
.pager li > span {
    /* Hux learn from
       *     TypeIsBeautiful,
       *     [This Post](http://zhuanlan.zhihu.com/ibuick/20186806) etc.
       */
    font-family: -apple-system, "Helvetica Neue", "Arial", "PingFang SC", "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;
    line-height: 1.7;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 800;
    letter-spacing: 1px;
    padding: 10px;
    background-color: white;
    border-radius: 0;
}

@media only screen and (min-width: 768px) {
    .pager li > a,
    .pager li > span {
        font-size: 14px;
        padding: 15px 25px;
    }
}

.pager li > a {
    color: #404040;
}

.pager li > a:hover,
.pager li > a:focus {
    color: white;
    background-color: #0085a1;
    border: 1px solid #0085a1;
}

.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
    color: #808080;
    background-color: #404040;
    cursor: not-allowed;
}

::-moz-selection {
    color: white;
    text-shadow: none;
    background: #0085a1;
}

::selection {
    color: white;
    text-shadow: none;
    background: #0085a1;
}

img::selection {
    color: white;
    background: transparent;
}

img::-moz-selection {
    color: white;
    background: transparent;
}


.tags {
    text-align: center;
    margin-top: 20px;
}

.tags a,
.tags .tag {
    display: inline-block;
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 4px;
    padding: 0 10px;
    color: #ffffff;
    line-height: 24px;
    font-size: 12px;
    text-decoration: none;
    margin: 0 1px;
    margin-bottom: 6px;
}

.tags a:hover,
.tags .tag:hover,
.tags a:active,
.tags .tag:active {
    color: white;
    border-color: white;
    background-color: rgba(255, 255, 255, 0.4);
    text-decoration: none;
}

#tag-heading {
    padding: 70px 0 60px;
}

@media only screen and (min-width: 768px) {
    #tag-heading {
        padding: 55px 0;
    }
}

#tag_cloud {
    margin: 20px 0 15px 0;
}

#tag_cloud a,
#tag_cloud .tag {
    font-size: 14px;
    border: none;
    line-height: 28px;
    margin: 0 2px;
    margin-bottom: 8px;
    background: #D6D6D6;
}

#tag_cloud a:hover,
#tag_cloud .tag:hover,
#tag_cloud a:active,
#tag_cloud .tag:active {
    background-color: #0085a1 !important;
}

@media only screen and (min-width: 768px) {
    #tag_cloud {
        margin-bottom: 25px;
    }
}

.tag-comments {
    font-size: 12px;
}

@media only screen and (min-width: 768px) {
    .tag-comments {
        font-size: 14px;
    }
}

.t:first-child {
    margin-top: 0;
}

.listing-seperator {
    color: #0085a1;
    font-size: 21px !important;
}

.listing-seperator::before {
    margin-right: 5px;
}

@media only screen and (min-width: 768px) {
    .listing-seperator {
        font-size: 20px !important;
        line-height: 2 !important;
    }
}

.one-tag-list .tag-text {
    font-weight: 500;
    /* Hux learn from
       *     TypeIsBeautiful,
       *     [This Post](http://zhuanlan.zhihu.com/ibuick/20186806) etc.
       */
    font-family: -apple-system, "Helvetica Neue", "Arial", "PingFang SC", "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;
    line-height: 1.7;
}

.one-tag-list .post-preview {
    position: relative;
}

.one-tag-list .post-preview > a .post-title {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.one-tag-list .post-preview > a .post-subtitle {
    font-size: 15px;
    padding-top: 5px;
    font-weight: 400;
}

.one-tag-list .post-preview > .post-meta {
    position: absolute;
    right: 5px;
    bottom: 0;
    margin: 0;
    font-size: 12px;
    line-height: 12px;
}

@media only screen and (min-width: 768px) {
    .one-tag-list .post-preview {
        margin-left: 20px;
    }

    .one-tag-list .post-preview > a > .post-title {
        font-size: 18px;
        line-height: 1.3;
    }

    .one-tag-list .post-preview > a > .post-subtitle {
        font-size: 15px;
    }

    .one-tag-list .post-preview .post-meta {
        font-size: 18px;
    }
	
	.one-archive-list .post-preview {
		margin-left: 40px;
	}
	
	.archive-month {
		margin-left: 20px;
	}
}

/* Tags support End*/
/* Hux make all img responsible in post-container */
.post-container img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 1.5em auto 1.6em auto;
}

/* Hux Optimize UserExperience */
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: inherit;
}

.navbar-default .navbar-toggle:active {
    background-color: rgba(255, 255, 255, 0.25);
}

/* Hux customize Style for navBar button */
.navbar-default .navbar-toggle {
    border-color: transparent;
    padding: 19px 16px;
    margin-top: 2px;
    margin-right: 2px;
    margin-bottom: 2px;
    border-radius: 50%;
}

.navbar-default .navbar-toggle .icon-bar {
    width: 18px;
    background-color: white;
}

.navbar-default .navbar-toggle .icon-bar + .icon-bar {
    margin-top: 3px;
}

/* Hux customize Style for Duoshuo */
.comment {
    margin-top: 20px;
}

.comment #ds-thread #ds-reset a.ds-like-thread-button {
    border: 1px solid #ddd;
    background: white;
    box-shadow: none;
    text-shadow: none;
}

.comment #ds-thread #ds-reset li.ds-tab a.ds-current {
    border: 1px solid #ddd;
    background: white;
    box-shadow: none;
    text-shadow: none;
}

.comment #ds-thread #ds-reset .ds-textarea-wrapper {
    background: none;
}

.comment #ds-thread #ds-reset .ds-gradient-bg {
    background: none;
}

#ds-smilies-tooltip ul.ds-smilies-tabs li a {
    background: white !important;
}

.page-fullscreen .intro-header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.page-fullscreen #tag-heading {
    position: fixed;
    left: 0;
    top: 0;
    padding-bottom: 150px;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    -webkit-flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.page-fullscreen footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding-bottom: 20px;
    opacity: 0.6;
    color: #fff;
}

.page-fullscreen footer .copyright {
    color: #fff;
}

.page-fullscreen footer .copyright a {
    color: #fff;
}

.page-fullscreen footer .copyright a:hover {
    color: #ddd;
}

/*
  @Haojen
*/

.intro-header .site-heading .subheading {
    margin-top: 15px;
}

.sidebar-container .short-about {
    text-align: center;
}


@media screen and (max-width: 768px) {
    .intro-header .post-heading .subheading {
        font-size: 19px;
    }

    .intro-header .post-heading .meta {
        font-size: 14px;
    }
}

@media screen and (min-width: 768px) {
    .navbar .container-fluid {
        padding: 0 5%;
    }

}

.container .toc-col {
    padding: 0;
}

.container .toc-wrap {
    margin-top: 30px;
    list-style: none;
    color: darkgrey;
    border-left: #eee 3px solid;
    padding-left: 12px;
}

.container .toc-wrap > ol {
    list-style: none;
    padding-left: 0;
}

.container .toc-wrap li > ol {
    padding-left: 8px;
    list-style: none;
}

.container .toc-wrap .toc-level-2 > a {
    color: #0085a1;
    font-size: .9em;
}

.container .toc-wrap li ol a {
    color: #555;
    font-size: .85em;
    padding-left: 5px;
}

.container .toc-wrap.toc-fixed {
    position: fixed;
    top: 85px;
    margin-top: 0;
    max-height: 81%;
    overflow: auto;
    z-index:1;
}

.navbar-custom.is-fixed {
    /* when the user scrolls down, we hide the header right above the viewport */
    position: fixed;
    background-color: rgba(255, 255, 255, 0.98);
    box-shadow: 0 0 10px rgba(14, 14, 14, .26);
    height: 55px;
}

.navbar-custom.is-fixed::before {
    content: ' ';
    display: block;
    height: 2px;
    position: absolute;
    width: 100%;
    background: red;
}

.navbar-custom.is-fixed .brand-logo {
    border-radius: 3px;
    background: black;
    color: white;
    margin-left: 3px;
    padding: 0 5px 0 5px;
    display: inline-block;
    height: 27px; /* 避免不同字型導致高度不一致 */
    line-height: 27px;
}

.navbar-custom.is-fixed .navbar-brand,
.navbar-custom.is-fixed .navbar-right a {
    color: black;
}

.navbar-custom.is-fixed .navbar-toggle span {
    background: black;
}
.post-title-haojen{
    display: none;
}

.post-title-fixed{
    display: block;
    position: fixed;
    top:-40px;
    width: 100%;
    z-index: 6;
    text-align: center;
    white-space: nowrap;
    left:0;
}
.post-title-fixed span{
    display: inline-block;
    max-width: 250px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
    top: 40px;
    line-height: 60px;
}
@media screen and (max-width: 1049px){
    .post-title-fixed span{
        max-width: 180px;
        font-size: 15px;
        margin-left: -160px;
    }
}

@media screen and (max-width: 880px) , screen and(min-width: 770px){
    .post-title-fixed span{
        display: none;
    }
}

@media screen and  (max-width: 768px){
    .post-title-fixed span{
        max-width: 160px;
        font-size: 14px;
        margin-left: 0;
        top: 59px;
        display: inline-block;
    }
}
.post-preview > a > .post-title{
    margin-bottom: 0;
    font-weight: 200;
    text-shadow: 0 0 1px rgba(0,0,0,.15);
}
.post-container .post-preview > a > .post-title{
  font-weight: 400;
  color: #233c46;
}
@media screen and (max-width: 500px) {
    .post-title-fixed span{
        display: none;
        top:57px;
    }
    .post-preview > a > .post-title{
        font-weight: normal;
    }
}
.site-heading .about-me img{
    width: 120px;height: 120px;
    border-radius: 50%;
    /*ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¥ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¤ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â´ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¥ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚ÂÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¥ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚ÂÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â©ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚ÂÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¦ÃƒÆ’Ã¢â‚¬Â¹Ãƒâ€¦Ã¢â‚¬Å“ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â½ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¦ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã¢â‚¬Â¹ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¦ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¾ÃƒÆ’Ã¢â‚¬Â¦ÃƒÂ¢Ã¢â€šÂ¬Ã…â€œ*/
    opacity: .9;
}
.site-heading h5 a{
    color: #fff;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 400;
}
.site-heading p {
    margin: 0;
    color: #eee;
    font-size: 15px;
}
.custom-haojen-container{
    padding-top: 0;
}
@media (min-width: 992px) {
    .custom-haojen-container {
        padding-top: 90px;
    }
}
/*wechat ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¦ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â©ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã¢â‚¬Â¹Ãƒâ€¦Ã¢â‚¬Å“ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¥ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚ÂºÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¾ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â§ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â°ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¤ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¼ÃƒÆ’Ã¢â‚¬Â¹Ãƒâ€¦Ã¢â‚¬Å“ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¥ÃƒÆ’Ã¢â‚¬Â¦ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â€šÂ¬Ã…â€œ*/
.wechat-title-img{
    position: absolute;
    height:0;
    width:0;
}

.one-tag-list{
  margin-bottom: 10px;
}

/* --------------------------------- */
/* Algolia.css */
/* --------------------------------- */
ul.search-result-list {
  padding-left: 0px;
  margin: 0px 5px 0px 8px;
}
p.search-result {
  border-bottom: 1px dashed #ccc;
  padding: 5px 0;
}
a.search-result-title {
  font-weight: bold;
}
a.search-result {
  border-bottom: transparent;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.search-keyword {
  border-bottom: 1px dashed #4088b8;
  font-weight: bold;
}
#local-search-result {
  height: 90%;
  overflow: auto;
}
.popup {
  display: none;
  position: fixed;
  top: 10%;
  left: 50%;
  width: 700px;
  height: 80%;
  margin-left: -350px;
  padding: 3px 0 0 10px;
  background: #fff;
  color: #333;
  z-index: 9999;
  border-radius: 0px;
}
@media (max-width: 767px) {
  .popup {
    padding: 3px;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    border-radius: 0px;
  }
}
.popoverlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 2080;
  background-color: rgba(0,0,0,0.3);
}
#local-search-input {
  margin-bottom: 10px;
  width: 50%;
}
.popup-btn-close {
  position: absolute;
  top: 6px;
  right: 14px;
  color: #4ebd79;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}
#no-result {
  position: absolute;
  left: 44%;
  top: 42%;
  color: #ccc;
}
.busuanzi-count:before {
  content: " ";
  float: left;
  width: 260px;
  min-height: 25px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .busuanzi-count {
    width: auto;
  }
  .busuanzi-count:before {
    display: none;
  }
}
@media (max-width: 767px) {
  .busuanzi-count {
    width: auto;
  }
  .busuanzi-count:before {
    display: none;
  }
}
.site-uv,
.site-pv,
.page-pv {
  display: inline-block;
}
.site-uv .busuanzi-value,
.site-pv .busuanzi-value,
.page-pv .busuanzi-value {
  margin: 0 5px;
}
.site-uv {
  margin-right: 10px;
}
.site-uv::after {
  content: "|";
  padding-left: 10px;
}
.algolia-popup {
  overflow: hidden;
  padding: 0;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
.algolia-popup .popup-btn-close {
  padding-left: 15px;
  border-left: 1px solid #eee;
  top: 10px;
}
.algolia-popup .popup-btn-close .fa {
  color: #999;
  font-size: 18px;
}
.algolia-popup .popup-btn-close:hover .fa {
  color: #222;
}
.algolia-search {
  padding: 10px 15px 5px;
  max-height: 50px;
  background: #f5f5f5;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.algolia-search-input-icon {
  display: inline-block;
  width: 20px;
}
.algolia-search-input-icon .fa {
  font-size: 18px;
}
.algolia-search-input {
  display: inline-block;
  width: calc(90% - 20px);
}
.algolia-search-input input {
  padding: 5px 0;
  width: 100%;
  outline: none;
  border: none;
  background: transparent;
}
.algolia-powered {
  float: right;
}
.algolia-powered img {
  display: inline-block;
  height: 18px;
  vertical-align: middle;
}
.algolia-results {
  position: relative;
  overflow: auto;
  padding: 10px 30px;
  height: calc(100% - 50px);
}
.algolia-results hr {
  margin: 10px 0;
}
.algolia-results .highlight {
  font-style: normal;
  margin: 0;
  padding: 0 2px;
  font-size: inherit;
  color: #f00;
}
.algolia-hits {
  margin-top: 20px;
}
.algolia-hit-item {
  margin: 15px 0;
}
.algolia-hit-item-link {
  display: block;
  border-bottom: 1px dashed #ccc;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}
.algolia-pagination .pagination {
  margin-top: 40px;
  border-top: none;
  padding: 0;
  text-align: center;
}
.algolia-pagination .pagination-item {
  display: inline-block;
}
.algolia-pagination .disabled-item {
  visibility: hidden;
}



.ais-pagination{
  display: block;
}
.algolia-hit-item-link em{
  color: #cc1a1a;
}

/* --------------------------------- */
/* Syntax.css */
/* --------------------------------- */
.entry .gist {
  background: #eee;
  border: 1px solid color-border;
  margin-top: 15px;
  padding: 7px 15px;
  border-radius: 2px;
  text-shadow: 0 0 1px #fff;
  line-height: 1.6;
  overflow: auto;
  color: #666;
}
.entry .gist .gist-file {
  border: none;
  font-family: inherit;
  margin: 0;
  font-size: 0.9em;
}
.entry .gist .gist-file .gist-data {
  background: none;
  border-bottom: none;
}
.entry .gist .gist-file .gist-data pre {
  padding: 0 !important;
  font-family: font-mono;
}
.entry .gist .gist-file .gist-meta {
  background: none;
  color: color-meta;
  margin-top: 5px;
  padding: 0;
  text-shadow: 0 0 1px #fff;
  font-size: 100%;
}
.entry .gist .gist-file .gist-meta a {
  color: color-link;
}
.entry .gist .gist-file .gist-meta a:visited {
  color: color-link;
}
figure.highlight {
  border: 1px solid color-border;
  margin-top: 15px;
  padding: 7px 15px;
  border-radius: 2px;
  text-shadow: 0 0 1px #fff;
  line-height: 1.6;
  overflow: auto;
  position: relative;
  font-size: 0.9em;
}
figure.highlight figcaption {
  color: color-meta;
  margin-bottom: 5px;
  text-shadow: 0 0 1px #fff;
}
figure.highlight figcaption a {
  position: absolute;
  right: 15px;
}
figure.highlight pre {
  border: none;
  padding: 10px;
  margin: 0;
}
figure.highlight table {
  margin-top: 0;
  border-spacing: 0;
}
figure.highlight .gutter {
  color: color-meta;
  padding-right: 15px;
  border-right: 1px solid color-border;
  text-align: right;
}
figure.highlight .code {
  border-left: 1px solid #fff;
  color: #666;
}
figure.highlight .line {
  height: 20px;
}
/* ------------- prettyprint ------------- */
.prettyprint .com {
  color: #006C00;
  font-style: italic;
}

.prettyprint .kwd {
  color: #00f;
}

.prettyprint .lit, .prettyprint .dec, .prettyprint .var {
  color: #9A144A;
}

.prettyprint .pun, .prettyprint .clo, .prettyprint .opn {
  color: #0080FF;
}

.prettyprint .typ {
  font-weight: bold;
  color: #800F3F;
}

.prettyprint .str, .prettyprint .atv {
  color: #800080;
}


.prettyprint .pln, .prettyprint .tag, .prettyprint .atn, .prettyprint .fun {
  color: #000;
}

@media print,projection{.kwd,.tag,.typ{font-weight:700}}
pre.prettyprint{padding:2px;border:1px solid #888}
ol.linenums{margin-top:0;margin-bottom:0}
li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8{list-style-type:none}
li.L1,li.L3,li.L5,li.L7,li.L9{background:#eee}

/* ------------- highlightjs ------------- */
/*
pre .comment {
  color: #006c00;
  font-style: italic;
}
pre .template_comment,
pre .diff .header,
pre .doctype,
pre .pi,
pre .lisp .string,
pre .javadoc {
  color: #93a1a1;
  font-style: italic;
}
pre .keyword {
  color: #00f;
}
pre .winutils,
pre .method,
pre .addition,
pre .css .tag,
pre .request,
pre .status,
pre .nginx .title {
  color: #859900;
}
pre .number {
  color: #800000;
}
pre .string {
  color: #800080;
}
pre .params {
  color: #0080ff;
}
pre .command,
pre .tag .value,
pre .phpdoc,
pre .tex .formula,
pre .regexp,
pre .hexcolor {
  color: #2aa198;
}
pre .title {
  font-style: italic;
}
pre .localvars,
pre .chunk,
pre .decorator,
pre .built_in,
pre .identifier,
pre .vhdl,
pre .literal,
pre .id {
  color: #268bd2;
}
pre .attribute,
pre .variable,
pre .lisp .body,
pre .smalltalk .number,
pre .constant,
pre .class .title,
pre .parent,
pre .haskell .type {
  color: #b58900;
}
pre .preprocessor,
pre .preprocessor .keyword,
pre .shebang,
pre .symbol,
pre .symbol .string,
pre .diff .change,
pre .special,
pre .attr_selector,
pre .important,
pre .subst,
pre .cdata,
pre .clojure .title {
  color: #cb4b16;
}
pre .deletion {
  color: #dc322f;
}
.gutter {
  width: 70px;
}
*/


